<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="mainfooter">

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <!-- ChartJS -->
    <!--    <script th:src="@{static/plugins/chart.js/Chart.min.js}"></script>-->
    <!--    &lt;!&ndash; Sparkline &ndash;&gt;-->
    <!--    <script th:src="@{static/plugins/sparklines/sparkline.js}"></script>-->
    <!--    &lt;!&ndash; JQVMap &ndash;&gt;-->
    <!--&lt;!&ndash;    <script th:src="@{static/plugins/jqvmap/jquery.vmap.min.js}"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;    <script th:src="@{static/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>&ndash;&gt;-->
    <!--    &lt;!&ndash; jQuery Knob Chart &ndash;&gt;-->
    <!--&lt;!&ndash;    <script th:src="@{static/plugins/jquery-knob/jquery.knob.min.js}"></script>&ndash;&gt;-->
    <!--    &lt;!&ndash; daterangepicker &ndash;&gt;-->
    <!--    <script th:src="@{static/plugins/moment/moment.min.js}"></script>-->
    <!--    <script th:src="@{static/plugins/daterangepicker/daterangepicker.js}"></script>-->
    <!--    &lt;!&ndash; Tempusdominus Bootstrap 4 &ndash;&gt;-->
    <!--    <script th:src="@{static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>-->
    <!--    &lt;!&ndash; Summernote &ndash;&gt;-->
    <!--    <script th:src="@{static/plugins/summernote/summernote-bs4.min.js}"></script>-->
    <!--    &lt;!&ndash; overlayScrollbars &ndash;&gt;-->
    <!--    <script th:src="@{static/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>-->


    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!--    <script th:src="@{static/dist/js/pages/dashboard.js}"></script>-->
    <!-- AdminLTE for demo purposes -->
    <!--    <script th:src="@{static/dist/js/demo.js}"></script>-->

    <!-- jQuery -->
    <script th:src="@{static/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap 4 -->
    <script th:src="@{static/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- AdminLTE App -->
    <script th:src="@{static/dist/js/adminlte.min.js}"></script>

    <!-- jquery_form -->
    <script th:src="@{static/jquery/plugins/jquery-form/jquery.form.min.js}"></script>
    <!-- pjax -->
    <script th:src="@{static/jquery/plugins/jquery-pjax/jquery.pjax.js}"></script>
    <!-- layer -->
    <script th:src="@{static/layui/layer3.1.1/layer/layer.js}"></script>

    <!-- vue -->
<!--    <script th:src="@{static/vue/vue-2.6.11/dist/vue.min.js}"></script>-->
    <!-- axios ajax -->
    <script th:src="@{static/vue/plugins/axios-0.19.2/dist/axios.min.js}"></script>
</div>
</html>