<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/common/loader :: loader"></div>

<body>
<div class="easyui-layout theme-layout" fit="true">
    <div class="theme-header-layout font-white" data-options="region:'north'"
         style="line-height: 46px;font-size: 20px; border: none;height: 46px;">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>这是一行标题
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">切换导航</span>
        </a>
        <div class="navbar-custom-menu font-white" style="font-size: 12px">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-expeditedssl"></i>
                        <span>修改密码</span>
                    </a>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span>版本日志</span>
                    </a>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-circle-o"></i>
                        <span>基础管理员</span>
                    </a>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="/logout">
                        <i class="fa fa-power-off"></i>
                        退出
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="theme-left-layout " data-options="region:'west'" style="width: 200px;border:none">
        <!-- #West 左侧布局 -->
        <div class="menu-warper" style="position: relative;width: 190px;height: auto">
            <div class="main-sidebar">
                <div class="sidebar">
                    <ul class="sidebar-menu">
                        <li class="header">导航菜单</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>界面选项</span>
                                <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 置顶</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 盒子</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 固定</a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 折叠</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-th"></i>
                                <span>窗口小部件</span>
                                <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>日历</span>
                                <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                <span>邮箱</span>
                                <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>

                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-share"></i>
                                <span>多级</span>
                                <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>

                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 一级菜单1</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 一级菜单2
                                        <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-circle-o"></i> 二级菜单1</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-circle-o"></i> 二级菜单2
                                                <span class="pull-right-container">
                                                        <i class="fa fa-angle-left pull-right"></i>
                                                    </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-circle-o"></i> 三级菜单1</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-circle-o"></i> 三级菜单2</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 一级菜单3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>文档</span>
                            </a>
                        </li>
                        <li class="header">标签</li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o text-red"></i>
                                <span>重要</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o text-yellow"></i>
                                <span>警示</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o text-aqua"></i>
                                <span>提示</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="theme-center-layout" data-options="region:'center'" title="content">
        <!-- #Center 中心布局 -->
        <!--内部布局-->
        <div class="easyui-layout theme-inside-layout" data-options="fit:true">
            <div class="theme-inside-header-layout " data-options="region:'north'" region="north " style="height:36px;">
                <div style="float:right;margin:2px 5px 0 0">
                    <input class="easyui-searchbox" prompt="Please input value" style="width:300px">
                </div>
                <div style="padding:2px 5px;">
                    <a href="#" class="easyui-linkbutton" data-options="plain:true">Home</a>
                    <a href="#" class="easyui-splitbutton" data-options="menu:'#mm1',iconCls:'icon-edit'">Edit</a>
                    <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-help'">Help</a>
                    <a href="#" class="easyui-linkbutton"
                       data-options="plain:true,iconCls:'icon-save',toggle:true">Save</a>
                    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">Print</a>
                </div>
                <div id="mm1" style="width:150px;">
                    <div data-options="iconCls:'icon-undo'">Undo</div>
                    <div data-options="iconCls:'icon-redo',disabled:true">Redo</div>
                    <div class="menu-sep"></div>
                    <div>Cut</div>
                    <div>Copy</div>
                    <div>Paste</div>
                    <div class="menu-sep"></div>
                    <div>
                        <span>Toolbar</span>
                        <div style="width:200px;">
                            <div>Address</div>
                            <div>Link</div>
                            <div>Navigation Toolbar</div>
                            <div>Bookmark Toolbar</div>
                            <div class="menu-sep"></div>
                            <div>New Toolbar...</div>
                        </div>
                    </div>
                    <div data-options="iconCls:'icon-remove'">Delete</div>
                    <div>Select All</div>
                </div>
                <div id="mm2" style="width:100px;">
                    <div>Help</div>
                    <div>Update</div>
                    <div>About</div>
                </div>
            </div>
            <div class="theme-inside-left-layout" data-options="region:'west'" title="West" split="true"
                 style="width:210px">
                <div class="easyui-accordion" border="false" fit="true">
                    <div title="Title1" style="padding:10px">
                        <p>Accordion content1.</p>
                    </div>
                    <div title="Title2" style="padding:10px">
                        <p>Accordion content2.</p>
                    </div>
                </div>
            </div>
            <!--                <div class="theme-inside-right-layout" data-options="region:'east'" title="East" split="true" style="width:180px">-->
            <!--                    <ul class="easyui-tree">-->
            <!--                        <li>-->
            <!--                            <span>My Documents</span>-->
            <!--                            <ul>-->
            <!--                                <li data-options="state:'closed'">-->
            <!--                                    <span>Photos</span>-->
            <!--                                    <ul>-->
            <!--                                        <li>-->
            <!--                                            <span>Friend</span>-->
            <!--                                        </li>-->
            <!--                                        <li>-->
            <!--                                            <span>Wife</span>-->
            <!--                                        </li>-->
            <!--                                        <li>-->
            <!--                                            <span>Company</span>-->
            <!--                                        </li>-->
            <!--                                    </ul>-->
            <!--                                </li>-->
            <!--                                <li>-->
            <!--                                    <span>Program Files</span>-->
            <!--                                    <ul>-->
            <!--                                        <li>Intel</li>-->
            <!--                                        <li>Java</li>-->
            <!--                                        <li>Microsoft Office</li>-->
            <!--                                        <li>Games</li>-->
            <!--                                    </ul>-->
            <!--                                </li>-->
            <!--                                <li>index.html</li>-->
            <!--                                <li>about.html</li>-->
            <!--                                <li>welcome.html</li>-->
            <!--                            </ul>-->
            <!--                        </li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <div class="theme-inside-center-layout" data-options="region:'center'">
                <div class="easyui-tabs" border="false" fit="true">
                    <div title="Tab1">
                        <table class="easyui-datagrid" rownumbers="true" striped="true" border="false" fit="true"
                               fitColumns="true" pagination="true"
                               remoteSort="false">
                            <thead>
                            <tr>
                                <th data-options="field:'itemid',sortable:true,width:100">Item ID</th>
                                <th data-options="field:'productid',sortable:true,width:100">Product</th>
                                <th data-options="field:'listprice',align:'right',sortable:true,width:100">List Price
                                </th>
                                <th data-options="field:'attr1',width:250">Attribute</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>EST-1</td>
                                <td>FI-SW-01</td>
                                <td>36.50</td>
                                <td>Large</td>
                            </tr>
                            <tr>
                                <td>EST-10</td>
                                <td>K9-DL-01</td>
                                <td>18.50</td>
                                <td>Spotted Adult Female</td>
                            </tr>
                            <tr>
                                <td>EST-11</td>
                                <td>RP-SN-01</td>
                                <td>28.50</td>
                                <td>Venomless</td>
                            </tr>
                            <tr>
                                <td>EST-12</td>
                                <td>RP-SN-01</td>
                                <td>26.50</td>
                                <td>Rattleless</td>
                            </tr>
                            <tr>
                                <td>EST-13</td>
                                <td>RP-LI-02</td>
                                <td>35.50</td>
                                <td>Green Adult</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div title="Tab2" closable="true" style="padding:10px">
                        <p>
                            <input id="ss" class="easyui-searchbox" style="width:300px"
                                   data-options="searcher:loadData,prompt:'Please Input Value'"
                            />
                        </p>
                        <p>
                            <input id="ss1" class="easyui-searchbox" style="width:300px"
                                   data-options="searcher:loadData,prompt:'Please Input Value'"
                            />
                        </p>
                        <p>
                            <input id="ss2" class="easyui-searchbox" style="width:300px"
                                   data-options="searcher:loadData,prompt:'Please Input Value'"
                            />
                        </p>

                        <p><input id="vv" class="easyui-validatebox tb" data-options="required:true,validType:'email'"/>
                        </p>
                        <input type="text">


                        <div id="dd" style="padding: 10px">
                            <table class="easyui-datagrid" id="dg1" title="Basic DataGrid"
                                   style="width:700px;height:270px"
                                   data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
                                <thead>
                                <tr>
                                    <th data-options="field:'itemid',width:80">Item ID</th>
                                    <th data-options="field:'productid',width:100">Product</th>
                                    <th data-options="field:'listprice',width:80,align:'right'">List Price</th>
                                    <th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>
                                    <th data-options="field:'attr1',width:250">Attribute</th>
                                    <th data-options="field:'status',width:60,align:'center'">Status</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div title="Tab3" closable="true" iconCls="icon-save" style="padding:10px">
                        <p>Tab content3.</p>
                    </div>


                </div>
            </div>
            <!--                <div class="" data-options="region:'south'" style="height:230px;padding-top:5px">-->
            <!--                    <div class="easyui-layout" fit="true" style="height:210px;margin-top1:10px">-->
            <!--                        <div region="west" split1="true" border="false" style="width:205px;">-->
            <!--                            <div class="easyui-calendar" fit="true"></div>-->
            <!--                        </div>-->
            <!--                        <div region="east" style="width:300px;padding:10px;position:relative">-->
            <!--                            <div class="easyui-progressbar" value="50" style="width:250px;margin:10px 0"></div>-->
            <!--                            <div style="margin:20px 0;">-->
            <!--                                <input class="easyui-slider" style="width:250px" value="20" data-options="-->
            <!--                                    showTip:true,-->
            <!--                                    rule: [0,'|',25,'|',50,'|',75,'|',100]-->
            <!--                                ">-->
            <!--                            </div>-->
            <!--                            <div style="margin-top:50px">-->
            <!--                                <a href="#" class="easyui-tooltip" title="This is a tooltip message">Hover me</a>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--&lt;!&ndash;                        <div region="center" border="false" style="padding:0 5px">&ndash;&gt;-->
            <!--&lt;!&ndash;                            <div class="easyui-panel" fit="true" style="padding:10px;">&ndash;&gt;-->
            <!--&lt;!&ndash;                                <div style="font-weight:bold;font-size:16px;margin-bottom:10px">Form Fields</div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                <form id="ff" method="post">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <input class="easyui-textbox" name="name" style="width:100%" data-options="label:'Name:',required:true">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <input class="easyui-textbox" name="email" style="width:100%" data-options="label:'Email:',required:true,validType:'email'">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <input class="easyui-textbox" name="subject" style="width:100%" data-options="label:'Subject:',required:true">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <input class="easyui-textbox" name="message" style="width:100%;height:60px" data-options="label:'Message:',multiline:true">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <select class="easyui-combobox" name="language" label="Language" style="width:100%">&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="ar">Arabic</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="bg">Bulgarian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="ca">Catalan</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="zh-cht">Chinese Traditional</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="cs">Czech</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="da">Danish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="nl">Dutch</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="en" selected="selected">English</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="et">Estonian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="fi">Finnish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="fr">French</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="de">German</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="el">Greek</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="ht">Haitian Creole</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="he">Hebrew</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="hi">Hindi</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="mww">Hmong Daw</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="hu">Hungarian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="id">Indonesian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="it">Italian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="ja">Japanese</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="ko">Korean</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="lv">Latvian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="lt">Lithuanian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="no">Norwegian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="fa">Persian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="pl">Polish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="pt">Portuguese</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="ro">Romanian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="ru">Russian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="sk">Slovak</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="sl">Slovenian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="es">Spanish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="sv">Swedish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="th">Thai</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="tr">Turkish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="uk">Ukrainian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <option value="vi">Vietnamese</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        </select>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                </form>&ndash;&gt;-->
            <!--&lt;!&ndash;                                <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <input class="easyui-textbox" label="TextBox:" required buttonText="Button" iconCls="icon-ok" style="width:100%">&ndash;&gt;-->
            <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <select class="easyui-combobox" label="ComboBox:" name="language" style="width:100%">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="ar">Arabic</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="bg">Bulgarian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="ca">Catalan</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="zh-cht">Chinese Traditional</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="cs">Czech</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="da">Danish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="nl">Dutch</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="en" selected="selected">English</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="et">Estonian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="fi">Finnish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="fr">French</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="de">German</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="el">Greek</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="ht">Haitian Creole</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="he">Hebrew</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="hi">Hindi</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="mww">Hmong Daw</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="hu">Hungarian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="id">Indonesian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="it">Italian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="ja">Japanese</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="ko">Korean</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="lv">Latvian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="lt">Lithuanian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="no">Norwegian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="fa">Persian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="pl">Polish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="pt">Portuguese</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="ro">Romanian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="ru">Russian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="sk">Slovak</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="sl">Slovenian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="es">Spanish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="sv">Swedish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="th">Thai</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="tr">Turkish</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="uk">Ukrainian</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <option value="vi">Vietnamese</option>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </select>&ndash;&gt;-->
            <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <input class="easyui-timespinner" label="TimeSpinner:" showSeconds="true" style="width:100%">&ndash;&gt;-->
            <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                <div style="margin-bottom:20px">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <input class="easyui-datetimebox" label="DateTimeBox:" showSeconds="true" style="width:100%">&ndash;&gt;-->
            <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                <div style="margin:10px 0;">&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">Add</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">Remove</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',toggle:true">Save</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cut',disabled:true">Cut</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <a href="#" class="easyui-linkbutton">Text Button</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
            <!--                    </div>-->
            <!--                </div>-->

        </div>
        <div class="easyui-dialog" title="Dialog" iconCls="icon-save"
             style="width:300px;left:70%;top:300px;padding:10px" data-options="
                resizable:true,
                closed:false,
                toolbar:[{
                    iconCls:'icon-add'
                },{
                    iconCls:'icon-edit'
                }],
                buttons:[{
                    text:'Ok',
                    iconCls:'icon-ok'
                },{
                    text:'Cancel',
                    iconCls:'icon-cancel'
                }]
            ">
            <p>Dialog Content.</p>
        </div>
    </div>
    <div class="theme-footer-layout color-my-red font-white" style="line-height: 46px;border: none;height: 46px;"
         data-options="region:'south'">
        <!-- #South 底部布局 -->
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.7
        </div>
        <strong>Copyright © 2014-2016
            <a class="font-blue" href="http://web.corp.gwm.com/">Almsaeed Studio</a>.</strong> All rights reserved.
    </div>
</div>
</body>
<script>
    $(function () {
        $('#dd').dialog({
            fit: false,
            title: 'My Dialog',
            resizable: true,
            closed: true,
            cache: false,
            modal: true,
            buttons: [{
                text: 'Ok',
                iconCls: 'icon-ok'
            }, {
                text: 'Cancel',
                iconCls: 'icon-cancel'
            }]

        });
    })

    function loadData() {
        console.log(this);
        var url;
        var id = $(this).attr('id');
        id == 'ss1' ? url = 'datagrid_data2.json' : url = 'datagrid_data1.json';
        $('#dg1').datagrid({
            url: url,
            onSelect: function (index, row) {
                syncData(id, row);
            }
        });
        $('#dd').dialog('open');

    }

    function syncData(id, row) {
        console.log(id, row);
        $("#" + id).textbox('setValue', row.productid)

    }
</script>


</html>